@model rentend.Models.ViewModels.HomeViewModel;
<div class="_carousel">
    <div class="carousel_overlay">
        <strong></strong>
    </div>
    <div class="owl-carousel owl-theme">
    @foreach (var item in Model.Cars)
    {
        <div style="position: relative">
            <img src='@item.Item2.Replace("wwwroot/", "")'>
            <div class="slider_item_overlay">
                <div class="brand_logo">
                    <img src='/imgs/brands/@String.Concat(item.Item1.Brand.Name, ".png")'>
                </div>
                <div class="sio_inner">
                    <p>@item.Item1.Brand.Name @item.Item1.Model</p>
                    <p>Available now.</p>
                    <a asp-action="Car" asp-route-Id="@item.Item1.Id">Check rental details.</a>
                </div>
            </div>
        </div>
    }
    </div>
</div>

