@model UserViewModel;
@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
</head>
<body>
    <div class="login_wrapper">
        <div class="login_container">
            <h1>Log in</h1>
            <form method="post">
                <input type="email" asp-for="@Model.Email">
                <input type="password" asp-for="@Model.Password">
                <input type="checkbox" asp-for="@Model.Remember">
                <input type="submit">
            </form>
        </div>
    </div>
</body>
</html>